<div class="full-width-wrapper" style="background-image: url('{{ section.settings.subscribe_form_bg | img_url: 'master' }}')">
  <div class="subscribe-form">
    <div class="section-header text-center">
      {% if section.settings.heading != blank %}
        <h1 style="font-size: {{ section.settings.heading_font_size }}px; color: {{ section.settings.heading_color  }}">{{ section.settings.heading }}</h1>
      {% else %}
        <h1 style="font-size: {{ section.settings.heading_font_size }}px; color: {{ section.settings.heading_color  }}">{{ page.title }}</h1>
      {% endif %}

      {% if page.content != blank %}
        <div class="description" style="font-size: {{ section.settings.description_font_size }}px; color: {{ section.settings.description_color  }}">{{ page.content }}</div>
      {% endif %}
    </div>

    <form action="#" onsubmit="return false;" id="subscribe_form">
      <p>
        <input class="form-control" type="email" name="email" placeholder="Email Address *" required>
      </p>
      <p>
        <input class="form-control" type="text" name="fname" placeholder="First Name">
      </p>
      <p>
        <input class="btn form-control" type="submit" value="Submit">
      </p>
      <p class="subscribe-msg alert-success"></p>
    </form>
  </div>
</div>

{% schema %}
{
  "name": "Subscribe Form",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Form Heading"
    },
    {
      "type": "range",
      "id": "heading_font_size",
      "label": "Heading Font Size",
      "default": 40,
      "min": 10,
      "max": 100,
      "step": 1,
      "unit": {
        "de": "px",
        "en": "px",
        "es": "px",
        "fr": "px",
        "it": "px",
        "ja": "px",
        "pt-BR": "px"
      }
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading Color",
      "default": "#ffffff"
    },
    {
      "type": "range",
      "id": "description_font_size",
      "label": "Description Font Size",
      "default": 16,
      "min": 10,
      "max": 100,
      "step": 1,
      "unit": {
        "de": "px",
        "en": "px",
        "es": "px",
        "fr": "px",
        "it": "px",
        "ja": "px",
        "pt-BR": "px"
      }
    },
    {
      "type": "color",
      "id": "description_color",
      "label": "Description Color",
      "default": "#ffffff"
    },
    {
      "type": "text",
      "id": "hyperlink_text",
      "label": "HyperLink Text"
    },
    {
      "type": "url",
      "id": "hyperlink_link",
      "label": "HyperLink Link"
    },
    {
      "type": "image_picker",
      "id": "subscribe_form_bg",
      "label": "Background Image"
    }
  ]
}
{% endschema %}
